dist
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
.env.yaml
.env.example
.git
.gitignore
deployment.sh
.eslintrc.js
.gcloudignore
.prettierignore
.prettierrc
eslint.config.mjs
README.md
docs
logs
.env